.main-nav a.commodity-button{
    color:#FFB091 ;
}
.main-nav a.commodity-button::after{
    width: 113px;
}
/* ----------------------------------------------banner */
.banner{
    padding-top: 70px;
    width: 100%;
}
.banner-pic img{
    display: block;
    width: 100%;
}
/* -------------------------------------------商品 */
.sideMenu{
    position: relative;
}
label {
    width: 20px;
    height: 80px;
    background-color: #d1d1d1;
    color: #686666;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}
#sideMenu-active:checked + .sideMenu {
    transform: translateX(0);
    label .fas {
        transform: scaleX(-1);
    }
}
#sideMenu-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.sideMenu {
    width: 300px;
    height: 100%;
    background-color: #ff7575;
    border-right: 3px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
    position: relative;
    transform: translateX(-100%);
    transition: 0.5s;
}
.commodity{

}
.commodity-title{
    margin: 100px 0px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 5px;
    color: #A13630;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.commodity-container{

}
.commodity-card{
    width: 20%;
    margin: 0px 2.5% 100px 2.5%;
}
.commodity-pic{
    border-radius: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.commodity-pic img{
    display: block;
    width: 100%;
    border-radius: 30px;
    transform: scale(1,1)
}
.commodity-pic img:hover{
    transform: scale(1.2,1.2)
}
.commodity-name{
    color: #2F3C3C;
    margin: 0px auto 10px auto;
    letter-spacing: 2px;
    width: 66px;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #7FCCDA;
}
.commodity-txt{
    color: #505050;
    text-align: center;
    padding: 10px;
    font-size: 14PX;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 10px;
}
.commodity-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.commodity-card a{
    margin: 0px 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 2px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #7FCCDA;
    text-decoration: none;
    color:#ffffff ;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.commodity-card a:hover{
    background-color: #FFB091;
}