@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/* ----------------------------------------------------首頁 */
.index{
    background-image: url(../pic/index-background04.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 100%;
    height: 1350px;
}
.index-pic{
    width: 200px;
    margin: 70px auto;
    padding-top: 150px;
}
.index-pic img{
    padding-bottom: 10px;
    display: block;
    width: 100%;    
}
.slogan{
    text-align: center;
    color: #8B4F47;
    font-size: 26px;
    letter-spacing: 2px;
    font-family:'cwTeXYen', sans-serif;
}
@media screen and (min-width:768px) {
    .index{
        height: 1450px;
        background-size: cover;
    }
    .index-pic{
        width: 230px;
    }
}
@media screen and (min-width:1024px) {
    .index{
        background-image: url(../pic/index-background.png),
                        url(../pic/index-background02.png);
        background-repeat: no-repeat,no-repeat;
        background-size: auto,contain;
        background-position:0px 0px,0px 100% ;
    }
    .index-pic{
        width: 280px;
        margin: 70px 40% 0% 60%;
        padding-top: 200px;
    }
}
@media screen and (min-width:1200px) {
    .index-pic{
        width: 280px;
        margin: 70px 35% 0% 65%;
    }
    .slogan{
        text-align: center;
        color: #8B4F47;
        font-size: 26px;
        letter-spacing: 2px;
        font-family:'cwTeXYen', sans-serif;
    }
}
/* ---------------------------------------------------關於我們 */
.about-container{
    position: absolute;
    top:120%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-card{
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.about-title{
    padding-top: 40px;
    font-family: 'cwTeXYen', sans-serif;
    text-align: center;
    font-size: 36px;
    letter-spacing: 5px;
    color: #9F3630;
}
.about-txt{
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 3px;
    color: #8B4F47;
    font-family: 'cwTeXYen', sans-serif;
}
@media screen and (min-width:1024px) {
    .about-card{
        width: 475px; 
        border-radius: 20px;
    }
}
/* ----------------------------------------------------等家浪浪 */
.strays-title{
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 5px;
    color: #9F3630;
}
.strays-container{
    width: 300px;
    margin: 0 auto;
  }
.strays-container li{
    background-color: #ffffff;
    overflow: hidden;
    border: 3px solid #FFB091 ;
    border-radius: 20px;  
    transform: scale(0.8);
    transition: .5s;
    position: relative;
  }
.strays-container li:hover{
    border: 3px solid #7FCCDA ;
    transform: scale(0.9);
    transition: .5s; 
  }
.strays-container li img{
    display: block;
    width: 100%;
  }
.strays-name{    
    border-radius: 20px;
    margin: 0px auto;
    width: 100px;
    padding: 10px 0px;
    text-indent: 5px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 32px;
    font-family:'cwTeXYen', sans-serif;
    color: #ffffff;
    background-color: #FFB091 ;
}
.strays-txt{
    background-color: #ffffff;
    color: #8B4F47;
    font-size: 20px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center; 
    padding:25px 0px ;
}
.strays-container a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.strays-more{
    display: block;
    margin: 0 auto;
    text-decoration: none;
    width: 110px;
    text-align: center;
    padding: 10px 10px;
    font-size: 24px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #7FCCDA;
    border: 2px solid #7FCCDA;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.strays-more:hover{
    color: #7FCCDA;
    background-color: transparent;
    border: 2px solid #7FCCDA;
    transition: .3s;
}
@media screen and (min-width:768px) {
    .strays-container{
        width: 700px;
        margin: 0 auto;
      }
}
@media screen and (min-width:1024px) {
    .strays{
        background-image: url(../pic/index-background03.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0% 0%;
    }
    .strays-container{
        width: 900px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1200px) {
    .strays-container{
        width: 1100px;
        margin: 0 auto;
    }
}
/* ------------------------------------------------------精選菜單 */
.menu-container{
    max-width: 1200px;
    margin: 0px auto;
}
.menu-maintitle{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    font-family:'cwTeXYen', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    color: #9F3630;
}
.menu-card{
    margin-bottom: 30px;
}
.menu-pic{
    width: 250px;
    margin: 0px auto;
}
.menu-pic img{
    width: 100%;
    display: block;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(0deg) ;
    transition: .5s;
}
.menu-pic:hover{
    transform: rotate(20deg) ;
    transition: .5s;
}
.menu-title{
    width: 120px;
    text-align: center;
    font-size: 32px;
    font-family:'cwTeXYen', sans-serif;
    color: #9F3630;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-bottom: #FFB091 3px solid;
    letter-spacing: 2px;
    text-indent: 2px;
}
.menu-txt{
    text-align: center;
    font-size: 20px;
    font-family:'cwTeXYen', sans-serif;
    line-height: 50px;
    color: #8B4F47;
    letter-spacing: 2px;
}
.menu-more{
    display: block;
    margin:30px auto 0px auto;
    text-decoration: none;
    width: 110px;
    text-align: center;
    padding: 10px 10px;
    font-size: 24px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #7FCCDA;
    border: 2px solid #7FCCDA;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.menu-more:hover{
    color: #7FCCDA;
    background-color: #ffffff;
    border: 2px solid #7FCCDA;
    transition: .3s;
}
@media screen and (min-width:768px) {
    .menu-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-card{
        margin-left:30px ;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:1024px) {
    .menu{
        background-image: url(../pic/index-background05.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 100%;
        
    }
    .menu-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
/* ---------------------------------------------周邊商品 */
.commodity{
    width: 100%;
}
.commodity-maintitle{
    padding-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 36px;
    font-family:'cwTeXYen', sans-serif ;
    letter-spacing: 5px;
    color: #9F3630;
}
.commodity-pic{
    position: relative;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 350px;
}
.commodity-pic img{
    display: block;
    width: 100%;
    border-radius: 0px 0px 80px 0px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.commodity-pic a{
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    font-family:'cwTeXYen', sans-serif ;
    font-size: 42px;
    letter-spacing: 2px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.8);
    transition: .3s;
}
.commodity-pic a:hover{
    color: #fff;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 80px 0px;
    transform: scale(1);
    transition: .3s;
}
.commodity-more{
    display: block;
    margin:50px auto 50px auto;
    text-decoration: none;
    width: 110px;
    text-align: center;
    padding: 10px 10px;
    font-size: 24px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #7FCCDA;
    border: 2px solid #7FCCDA;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.commodity-more:hover{
    color: #7FCCDA;
    background-color: #ffffff;
    border: 2px solid #7FCCDA;
    transition: .3s;
}
@media screen and (min-width:1024px) {
    .commodity{
        background-image: url(../pic/index-background06.png),
        url(../pic/index-commodity-background.png);
        background-size: contain,contain;
        background-repeat: no-repeat,no-repeat;
        background-position: 0 0,100% 100%;
    }
    .commodity-item-first{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px ;
    }
    .commodity-item-second{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 30px ;
    }
    .commodity-pic{
        width: auto;
    }
    .commodity-pic a{
        padding-top: 130px;
    }
}
@media screen and (min-width:1200px) {
    .commodity-container{
        max-width: 1200px;
        margin: 0px auto;
    }
}
/* ------------------------------------------------ 店家資訊 */
.information{
    margin-bottom: 100px;
}
.information-main-title{
    text-align: center;
    margin-bottom: 80px;
    font-size: 36px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 5px;
    color: #9F3630;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.information-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.information-card{
    margin-bottom: 30px;
}
.information-pic{
    width: 380px;
}
.information-pic img{
    display: block;
    width: 100%;
    border-radius: 0px 100px;
}
.information-title{
    border-radius: 20px;
    margin: 0px auto;
    width: 100px;
    padding: 10px 0px;
    text-indent: 5px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 32px;
    font-family:'cwTeXYen', sans-serif;
    color: #ffffff;
    background-color: #FFB091 ;
    position: relative;
    top: -30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.information-txt{
    padding: 0px 50px;
    font-size: 20px;
    font-family:'cwTeXYen', sans-serif;
    line-height: 40px;
    color: #8B4F47;
    letter-spacing: 2px;
}
