@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.main-nav a.information-button{
    color:#FFB091 ;
}
.main-nav a.information-button::after{
    width: 113px;
}
/* ------------------------------------------------------店家 */
body{
    background-image: url(../pic/information-baclground-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -600px;
}
.store{
    width: 100%;
    padding-top: 150px;
    margin-bottom: 100px;
}
.store-main-title{
    text-align: center;
    margin-bottom: 0px;
    font-size: 36px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 5px;
    color: #A13630;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.store-container{
    max-width: 300px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.store-card{
    position: relative;
    width: 25%;
    transform: scale(0.8);
}
.store-pic{
    margin-bottom: 40px; 
}
.store-pic img{
    display: block;
    width: 100%;
    border-radius: 150px 150px 30px 30px;
    box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.3);  
}
.store-title{
    margin-top: -133%;
    margin-left: 37%;
    margin-bottom: 350px;
    text-indent: 5px;
    letter-spacing: 5px;
    font-size: 32px;
    font-family:'cwTeXYen', sans-serif;
    color: #ffffff;
}
.store-txt{
    padding: 0px 15px;
    font-size: 20px;
    font-family:'cwTeXYen', sans-serif;
    line-height: 36px;
    color: #8B4F47;
    letter-spacing: 2px;
}
@media screen and (min-width:768px) {
    .store-container{
        max-width: 600px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media screen and (min-width:1024px) {
    .store-container{
        max-width: 900px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}@media screen and (min-width:1200px) {

}
/* --------------------------------------------各店成員介紹 */
.member{
    width: 100%;
}
.member-title{
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
    font-family:'cwTeXYen', sans-serif;
    letter-spacing: 5px;
    color: #A13630;
}
.member-container{
    max-width: 1200px;
    margin: 0px auto;
}
.member-item-first{
    position: relative;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.member-pic-first{
    width: 300px;
    margin: 0px auto 70px auto;
}
.member-pic-first img{
    display: block;
    width: 100%;
    border-radius: 100px 0px 100px 0px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.member-name-first{
    margin-top: 10px;
    margin-left: 25%;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-family:'cwTeXYen', sans-serif;
    border-radius: 30px;
    letter-spacing: 2px;
    text-indent: 2px;
    color: #ffffff;
    background-color: #FFB091;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.member-item-second{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    
}
.member-pic-second{
    width: 300px;
    margin: 0px auto 100px auto;
}
.member-pic-second img{
    display: block;
    width: 100%;
    border-radius: 0px 100px 0px 100px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.member-name-second{
    margin-top: 10px;
    margin-left: 25%;
    left: 210px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-family:'cwTeXYen', sans-serif;
    border-radius: 30px;
    letter-spacing: 2px;
    text-indent: 2px;
    color: #ffffff;
    background-color: #FFB091;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);   
}
@media screen and (min-width:768px) {
    .member-pic-first{
        width: 40%;
    }
    .member-pic-second{
        width: 40%;
    }
}
@media screen and (min-width:1024px) {

}
@media screen and (min-width:1200px) {
    .member-item-first{
        position: relative;
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .member-pic-first{
        width: 30%;
        margin:0px 0px 0px 0px;
    }
    .member-name-first{
        margin-top: 0px;
        margin-left: 0px;
        position: absolute;
        bottom: -25px;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        border-radius: 30px;
        letter-spacing: 2px;
        text-indent: 2px;
        color: #ffffff;
        background-color: #FFB091;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .member-item-second{
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .member-pic-second{
        width: 30%;
    }
    .member-name-second{
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
        bottom: 25px;
        left: 210px;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        border-radius: 30px;
        letter-spacing: 2px;
        text-indent: 2px;
        color: #ffffff;
        background-color: #FFB091;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);   
    }
}

